
  :host {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 300;
  }
  
  #world {
    margin-left:auto; 
    margin-right:auto; 
    display:block
  }
  
  .country:hover {
    stroke: black;
    stroke-width: 1px;
  }

  .graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
  }
  
  .axis {
    shape-rendering: crispEdges;
    font: 10px sans-serif;
  }

  .axis path, .axis line {
    fill: none;
    shape-rendering: crispedges;
    stroke: #000000;
  }
    
  .box {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    box-sizing: border-box;
    display: none;
    padding: 2rem;
    font-size: 1.3rem;
    display: block;
    color: white;
    position: absolute;
    right: 15px;
    top: 15px;
    min-width: 250px;
  }
  
  .box-title {
    margin-top: -20px;
  }

  .temperature-0{fill: #0500ff}
.temperature-1{fill: #0400ff}
.temperature-2{fill: #0300ff}
.temperature-3{fill: #0200ff}
.temperature-4{fill: #0100ff}
.temperature-5{fill: #0000ff}
.temperature-6{fill: #0002ff}
.temperature-7{fill: #0012ff}
.temperature-8{fill: #0022ff}
.temperature-9{fill: #0032ff}
.temperature-10{fill: #0044ff}
.temperature-11{fill: #0054ff}
.temperature-12{fill: #0064ff}
.temperature-13{fill: #0074ff}
.temperature-14{fill: #0084ff}
.temperature-15{fill: #0094ff}
.temperature-16{fill: #00a4ff}
.temperature-17{fill: #00b4ff}
.temperature-18{fill: #00c4ff}
.temperature-19{fill: #00d4ff}
.temperature-20{fill: #00e4ff}
.temperature-21{fill: #00fff4}
.temperature-22{fill: #00ffd0}
.temperature-23{fill: #00ffa8}
.temperature-24{fill: #00ff83}
.temperature-25{fill: #00ff5c}
.temperature-26{fill: #00ff36}
.temperature-27{fill: #00ff10}
.temperature-28{fill: #17ff00}
.temperature-29{fill: #3eff00}
.temperature-30{fill: #65ff00}
.temperature-31{fill: #8aff00}
.temperature-32{fill: #b0ff00}
.temperature-33{fill: #d7ff00}
.temperature-34{fill: #fdff00}
.temperature-35{fill: #FFfa00}
.temperature-36{fill: #FFf000}
.temperature-37{fill: #FFe600}
.temperature-38{fill: #FFdc00}
.temperature-39{fill: #FFd200}
.temperature-40{fill: #FFc800}
.temperature-41{fill: #FFbe00}
.temperature-42{fill: #FFb400}
.temperature-43{fill: #FFaa00}
.temperature-44{fill: #FFa000}
.temperature-45{fill: #FF9600}
.temperature-46{fill: #FF8c00}
.temperature-47{fill: #FF8200}
.temperature-48{fill: #FF7800}
.temperature-49{fill: #FF6e00}
.temperature-50{fill: #FF6400}
.temperature-51{fill: #FF5a00}
.temperature-52{fill: #FF5000}
.temperature-53{fill: #FF4600}
.temperature-54{fill: #FF3c00}
.temperature-55{fill: #FF3200}
.temperature-56{fill: #FF2800}
.temperature-57{fill: #FF1e00}
.temperature-58{fill: #FF1400}
.temperature-59{fill: #FF0a00}
.temperature-60{fill: #FF0000}

// path {
//   cursor: pointer;
// }

.selected {
  fill: #FF1C9D;
}

.geopage-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.country-details {
  position: absolute;
  top: 40%;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  max-width: 750px;
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  border-top: 3px solid var(--cyan);
  background: white;

  .country-details-box {
    display: flex;
    flex-direction: row-reverse;
    padding: 1.2rem;

      i {
        padding: .5rem;
        cursor: pointer;
      }

      ul {
        padding: 0;
        list-style: none;
      }
  }


  .border {
    display: inline;
  }
}


#map {
  margin: 2rem;
  cursor: pointer;
}

button, button::after {
  width: 380px;
  height: 86px;
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  cursor: pointer;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'INSERT MAP';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}